force-app/main/default/flows/AccountSetGeoRegionAndCurrencyFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ClearGeoAndRegionFieldsEmptyCountry</name>
        <label>Clear geo and region fields</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Geography__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearGeoAndRegionFieldsNoReferentialRecord</name>
        <label>Clear geo and region fields</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Geography__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Business_Record_Type</name>
        <label>Set Business Record Type</label>
        <locationX>594</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BillingCountryUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_as_per_Country</name>
        <label>Set Currency as per Country</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCountryReferential.Currency__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetGeoAndRegionFields</name>
        <label>Set geo and region fields</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Geography__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCountryReferential.Geography__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCountryReferential.Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Currency_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BillingCountryProvided</name>
        <label>Billing country provided</label>
        <locationX>479</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>ClearGeoAndRegionFieldsEmptyCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BillingCountryIsProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetCountryReferential</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BillingCountryUpdated</name>
        <label>Billing country updated</label>
        <locationX>726</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BillingCountryIsUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillingCountryProvided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CountryReferentialRetrieved</name>
        <label>Country referential retrieved</label>
        <locationX>248</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>ClearGeoAndRegionFieldsNoReferentialRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CountryReferentialIsRetrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCountryReferential</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGeoAndRegionFields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Upon_Lead_Conversion_And_Record_Type_Is_Not_Business</name>
        <label>Created Upon Lead Conversion And Record Type Is Not Business</label>
        <locationX>726</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>BillingCountryUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedLeadId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BusinessAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Account_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Currency_Updated</name>
        <label>Is Currency Updated</label>
        <locationX>50</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Set_Currency_as_per_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Set geo region and currency fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set geo region and currency fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Account_Record_Type</name>
        <label>Get Business Account Record Type</label>
        <locationX>594</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Business_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BusinessAccountRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCountryReferential</name>
        <label>Get country referential</label>
        <locationX>248</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountryReferentialRetrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CountryRegion__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Geography__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>600</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Upon_Lead_Conversion_And_Record_Type_Is_Not_Business</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
