force-app/main/default/flows/AccountCustomerDeactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddShipToContractRecordId</name>
        <label>Add ship-to contract record id</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>shipToContractRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopShipToContracts.Contract__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopShipToContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddShipToOpportunityRecordId</name>
        <label>Add ship-to opportunity record id</label>
        <locationX>413</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>shipToOpportunityRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopShipToOpportunities.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopShipToOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCustomerToInactive</name>
        <label>Set customer to inactive</label>
        <locationX>611</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.AccountStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccountRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountIsCustomer</name>
        <label>Account is customer</label>
        <locationX>539</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAccountIsCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.AccountStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetShipToContracts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BillToOpenContractsNotEmpty</name>
        <label>Bill-to open contracts not empty</label>
        <locationX>204</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>GetShipToOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBillToOpenContractsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBillToOpenContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BillToOpenOpportunitiesNotEmpty</name>
        <label>Bill-to open opportunities not empty</label>
        <locationX>479</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>SetCustomerToInactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBillToOpenOpportunitiesNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBillToOpenOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipToContractsNotEmpty</name>
        <label>Ship-to contracts not empty</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetBillToOpenContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShipToConractsNotEmpy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShipToContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopShipToContracts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipToOpenContractsNotEmpty</name>
        <label>Ship-to open contracts not empty</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>GetBillToOpenContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShipToOpenContractsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShipToOpenContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipToOpenOpportunitiesNotEmpty</name>
        <label>Ship-to open opportunities not empty</label>
        <locationX>325</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>GetBillToOpenOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShipToOpenOpportunitiesNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShipToOpenOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipToOpportunitiesNotEmpty</name>
        <label>Ship-to opportunities not empty</label>
        <locationX>479</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>GetBillToOpenOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShipToOpportunitiesNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShipToOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopShipToOpportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Deactivate customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Customer deactivation</label>
    <loops>
        <name>LoopShipToContracts</name>
        <label>Loop ship-to contracts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>GetShipToContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddShipToContractRecordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetShipToOpenContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopShipToOpportunities</name>
        <label>Loop ship-to opportunities</label>
        <locationX>325</locationX>
        <locationY>1682</locationY>
        <collectionReference>GetShipToOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddShipToOpportunityRecordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetShipToOpenOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBillToOpenContracts</name>
        <label>Get bill-to open contracts</label>
        <locationX>204</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BillToOpenContractsNotEmpty</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillToAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBillToOpenOpportunities</name>
        <label>Get bill-to open opportunities</label>
        <locationX>479</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BillToOpenOpportunitiesNotEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShipToContracts</name>
        <label>Get ship-to contracts</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShipToContractsNotEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>shipToRecordBeingDeletedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractShipToAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShipToOpenContracts</name>
        <label>Get ship-to open contracts</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShipToOpenContractsNotEmpty</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>shipToContractRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShipToOpenOpportunities</name>
        <label>Get ship-to open opportunities</label>
        <locationX>325</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShipToOpenOpportunitiesNotEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>shipToOpportunityRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShipToOpportunities</name>
        <label>Get ship-to opportunities</label>
        <locationX>479</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShipToOpportunitiesNotEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>shipToRecordBeingDeletedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityShipToAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountRecord</name>
        <label>Update account record</label>
        <locationX>611</locationX>
        <locationY>2798</locationY>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>413</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AccountIsCustomer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>shipToContractRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToOpportunityRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToRecordBeingDeletedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
