force-app/main/default/flows/AdditionalContractSharingScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateContractForAdditionalAccounts</name>
        <label>Create Contract For Additional Accounts</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>AdditionalContractSharingController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowParameter</name>
            <value>
                <elementReference>parametersToPassToApex</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AdditionalContractSharingController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Accounts_Of_All_Contract_Sharing_Records</name>
        <label>Accounts Of All Contract Sharing Records</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AllAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Contract_Sharing_Records.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Contract_Sharing_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetApexMethodParameter</name>
        <label>Set Apex Method Parameter</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>parametersToPassToApex</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountsTable.selectedAccs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parametersToPassToApex</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContractForAdditionalAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Records_Selected</name>
        <label>Account Records Selected?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountsTable.selectedAccs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountsTable.selectedAccs</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountsTable.selectedAccs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>[]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Has_Permissions</name>
        <label>User Has Permissions?</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Permission_Denied_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.BusinessOperationUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.BusinessPartnerUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.DealDeskUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_Of_Current_Contract_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is launched from Contract record to create additional Contract Sharing records for the Accounts.</description>
    <environments>Default</environments>
    <interviewLabel>AdditionalContractSharingFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Contract Sharing Screen Flow</label>
    <loops>
        <name>Loop_Through_All_Contract_Sharing_Records</name>
        <label>Loop Through All Contract Sharing Records</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>All_Contract_Sharing_Records_Of_This_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Accounts_Of_All_Contract_Sharing_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Data_Table_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>All_Contract_Sharing_Records_Of_This_Contract</name>
        <label>All Contract Sharing Records Of This Contract</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Contract_Sharing_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractShipToAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Details_Of_Current_Contract_Record</name>
        <label>Details Of Current Contract Record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Contract_Sharing_Records_Of_This_Contract</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetApexMethodParameter</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.AdditionalContractConfirmationMessage}﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>YES</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_Table_Screen</name>
        <label>Data Table Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Records_Selected</targetReference>
        </connector>
        <fields>
            <name>AccountsTable</name>
            <extensionName>c:dataTableForAccounts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accIdsToExclude</name>
                <value>
                    <elementReference>AllAccountIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billToAccountId</name>
                <value>
                    <elementReference>Details_Of_Current_Contract_Record.BillToAccount__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>Details_Of_Current_Contract_Record.BillToAccount__r.RecordType.DeveloperName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rootAccountId</name>
                <value>
                    <elementReference>Details_Of_Current_Contract_Record.BillToAccount__r.RootAccount__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 11, 11); font-size: 16px;&quot;&gt;{!$Label.ErrorMessageForScreenFlow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permission_Denied_Error_Screen</name>
        <label>Permission Denied Error Screen</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px; color: rgb(221, 8, 8);&quot;&gt;{!$Label.ContractSharingPermissionDeniedMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(44, 211, 11); font-size: 16px;&quot;&gt;{!$Label.RecordsCreatedSuccessfully}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Has_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>It includes the acc records selected by user and the contract id of the record from which the flow was launched.</description>
        <name>parametersToPassToApex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record Id of the current Contract Object</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
