force-app/main/default/flows/LeadFillAccountAndContactFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign size of contact records retrieved based on email</description>
        <name>Assign_size_of_Contacts_Retrieved</name>
        <label>Assign size of Contacts Retrieved</label>
        <locationX>467</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>numberOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_Records_based_on_Lead_s_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_one_Contact_retrieved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lead_fields_from_matching_Account</name>
        <label>Populate Lead fields from matching Account</label>
        <locationX>764</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PrimarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_Account.PrimarySegment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessReviewSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_Account.BusinessReviewSegment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Lead_fields_from_matching_Contact</name>
        <label>Populate Lead fields from matching Contact</label>
        <locationX>500</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RelatedAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PrimarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_contact.Account.PrimarySegment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessReviewSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_matching_contact.Account.BusinessReviewSegment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Populates Lead&apos;s field from matching Contact</description>
        <name>Populate_Lead_s_fields_from_matching_Contact</name>
        <label>Populate Lead&apos;s fields from matching Contact</label>
        <locationX>324</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_only_contact_record_present_in_the_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RelatedAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_only_contact_record_present_in_the_collection.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PrimarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_only_contact_record_present_in_the_collection.Account.PrimarySegment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessReviewSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_only_contact_record_present_in_the_collection.Account.BusinessReviewSegment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>896</locationX>
        <locationY>1535</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_matching_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lead_fields_from_matching_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the current triggering condition is insert or update</description>
        <name>Check_Trigger_Context</name>
        <label>Check Trigger Context</label>
        <locationX>467</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Updated_First_Name_or_Last_Name_or_Company_or_Domain_or_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update Trigger</defaultConnectorLabel>
        <rules>
            <name>Is_Create_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Records_based_on_Lead_s_Email</targetReference>
            </connector>
            <label>Is Create Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there is matching Contact in the system.</description>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>698</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Get_the_matching_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_matching_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lead_fields_from_matching_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Account or Contact is already populated or not</description>
        <name>Is_Account_or_Contact_populated</name>
        <label>Is Account or Contact populated</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Trigger_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedAccount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedContact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if number of Contact Records Retrieved based on Email of the Lead is 1.</description>
        <name>Only_one_Contact_retrieved</name>
        <label>Only one Contact retrieved?</label>
        <locationX>467</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Get_the_matching_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_the_only_contact_record_present_in_the_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_First_Name_or_Last_Name_or_Company_or_Domain_or_Country</name>
        <label>Updated First Name or Last Name or Company or Domain or Country</label>
        <locationX>599</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Domain__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Records_based_on_Lead_s_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Fill account and contact fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Fill account and contact fields</label>
    <loops>
        <description>Loops through the only 1 contact record that&apos;s present in the collection of contact records</description>
        <name>Loop_through_the_only_contact_record_present_in_the_collection</name>
        <label>Loop through the only contact record present in the collection</label>
        <locationX>236</locationX>
        <locationY>1211</locationY>
        <collectionReference>Get_Contact_Records_based_on_Lead_s_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Lead_s_fields_from_matching_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all Contact Records based on Lead&apos;s Email Address</description>
        <name>Get_Contact_Records_based_on_Lead_s_Email</name>
        <label>Get Contact Records based on Lead&apos;s Email</label>
        <locationX>467</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_size_of_Contacts_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_matching_Account</name>
        <label>Get the matching Account</label>
        <locationX>896</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Domain__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Domain__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get&apos;s the contact matching with the Lead details.</description>
        <name>Get_the_matching_contact</name>
        <label>Get the matching contact</label>
        <locationX>698</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountsName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_or_Contact_populated</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>numberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
