force-app/main/default/flows/LeadSetGeoCountryAndSegmentFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Set&apos;s the Primary Segment and Business Review Segment Of Lead as Enterprise</description>
        <name>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</name>
        <label>Set Enterprise as Primary Segment and Business Review Segment Of Lead</label>
        <locationX>916</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.PrimarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessReviewSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set geography and region of the lead from the Country Region metadata record retrieved</description>
        <name>Set_geography_and_region_of_the_lead</name>
        <label>Set geography and region of the lead</label>
        <locationX>138</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_country_referential_information.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geography__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_country_referential_information.Geography__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_And_Detail</name>
        <label>Set Lead Source And Detail</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetailRecent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSourceDetail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Region_and_Geography_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set&apos;s Mid Market as Primary Segment and Business Review Segment Of Lead</description>
        <name>Set_Mid_Market_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</name>
        <label>Set Mid Market as Primary Segment and Business Review Segment Of Lead</label>
        <locationX>459</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>$Record.PrimarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mid market</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessReviewSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mid market</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set&apos;s SMB as Primary Segment and Business Review Segment Of Lead</description>
        <name>Set_SMB_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</name>
        <label>Set SMB as Primary Segment and Business Review Segment Of Lead</label>
        <locationX>679</locationX>
        <locationY>2075</locationY>
        <assignmentItems>
            <assignToReference>$Record.PrimarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessReviewSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMB</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks if Account is populated on Lead or not. If it&apos;s populated then we skip the logic for calculating the Primary Segment and Business Segment of the Lead.</description>
        <name>Account_Populated</name>
        <label>Account Populated?</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_the_geography_of_the_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedAccount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_APJ_Enterprise_Employee_threshold_matches</name>
        <label>Check if APJ Enterprise Employee threshold matches</label>
        <locationX>1691</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Get_APJ_Enterprise_Session_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_APJ_Enterprise_Employee_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_APJ_Enterprise_Session_threshold_matches</name>
        <label>Check if APJ Enterprise Session threshold matches</label>
        <locationX>1823</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_SMB_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SessionByMonth__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_APJ_Enterprise_Session_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_EMEA_Enterprise_Employee_threshold_matches</name>
        <label>Check if EMEA Enterprise Employee threshold matches</label>
        <locationX>1075</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Get_EMEA_Enterprise_Session_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_EMEA_Enterprise_Employee_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_EMEA_Enterprise_Session_threshold_matches</name>
        <label>Check if EMEA Enterprise Session threshold matches</label>
        <locationX>1207</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Mid_Market_Employee_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SessionByMonth__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_EMEA_Enterprise_Session_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Mid_Market_Employee_threshold_matches</name>
        <label>Check if Mid Market Employee threshold matches</label>
        <locationX>459</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Get_Mid_Market_Session_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Mid_Market_Employee_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mid_Market_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Mid_Market_Session_threshold_matches</name>
        <label>Check if Mid Market Session threshold matches</label>
        <locationX>591</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Set_SMB_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SessionByMonth__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Mid_Market_Session_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mid_Market_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_US_Enterprise_Employee_threshold_matches</name>
        <label>Check if US Enterprise Employee threshold matches</label>
        <locationX>140</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Get_US_Enterprise_Session_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_US_Enterprise_Employee_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_US_Enterprise_Session_threshold_matches</name>
        <label>Check if US Enterprise Session threshold matches</label>
        <locationX>305</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Get_Mid_Market_Employee_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SessionByMonth__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_US_Enterprise_Session_threshold.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enterprise_as_Primary_Segment_and_Business_Review_Segment_Of_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Geography of the Lead Record</description>
        <name>Check_the_geography_of_the_Lead</name>
        <label>Check the geography of the Lead</label>
        <locationX>916</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Get_APJ_Enterprise_Employee_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If APJ</defaultConnectorLabel>
        <rules>
            <name>If_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Geography__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Enterprise_Employee_threshold</targetReference>
            </connector>
            <label>If US</label>
        </rules>
        <rules>
            <name>If_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Geography__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EMEA_Enterprise_Employee_threshold</targetReference>
            </connector>
            <label>If EMEA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the current triggering condition is insert or update</description>
        <name>Check_Trigger_Context</name>
        <label>Check Trigger Context</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Country_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update Trigger</defaultConnectorLabel>
        <rules>
            <name>Is_Create_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_And_Detail</targetReference>
            </connector>
            <label>Is Create Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is country of the Lead record changed</description>
        <name>Is_Country_Updated</name>
        <label>Is Country Updated</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Updated_No_Of_Employees_or_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_01</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Region_and_Geography_Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Region_and_Geography_Set</name>
        <label>Is Region and Geography Set?</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_country_referential_information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Geography__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_No_Of_Employees_or_Sessions</name>
        <label>Updated No. Of Employees or Sessions?</label>
        <locationX>754</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SessionByMonth__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Set geo country and segment fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Set geo country and segment fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_APJ_Enterprise_Employee_threshold</name>
        <label>Get APJ Enterprise Employee threshold</label>
        <locationX>1691</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_APJ_Enterprise_Employee_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APJEnterpriseEmployees</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_APJ_Enterprise_Session_threshold</name>
        <label>Get APJ Enterprise Session threshold</label>
        <locationX>1823</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_APJ_Enterprise_Session_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APJEnterpriseMonthlySessions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get&apos;s the related geography and region for the given country</description>
        <name>Get_country_referential_information</name>
        <label>Get country referential information</label>
        <locationX>138</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_geography_and_region_of_the_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CountryRegion__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EMEA_Enterprise_Employee_threshold</name>
        <label>Get EMEA Enterprise Employee threshold</label>
        <locationX>1075</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_EMEA_Enterprise_Employee_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EMEAEnterpriseEmployees</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EMEA_Enterprise_Session_threshold</name>
        <label>Get EMEA Enterprise Session threshold</label>
        <locationX>1207</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_EMEA_Enterprise_Session_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EMEAEnterpriseMonthlySessions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mid_Market_Employee_threshold</name>
        <label>Get Mid Market Employee threshold</label>
        <locationX>459</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Mid_Market_Employee_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MidMarketEmployees</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mid_Market_Session_threshold</name>
        <label>Get Mid Market Session threshold</label>
        <locationX>591</locationX>
        <locationY>1859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Mid_Market_Session_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MidMarketMonthlySessions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Enterprise_Employee_threshold</name>
        <label>Get US Enterprise Employee threshold</label>
        <locationX>140</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_US_Enterprise_Employee_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USEnterpriseEmployees</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Enterprise_Session_threshold</name>
        <label>Get US Enterprise Session threshold</label>
        <locationX>305</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_US_Enterprise_Session_threshold_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USEnterpriseMonthlySessions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSegmentationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Trigger_Context</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
