force-app/main/default/flows/OpportunityShipToAccountCustomerDeactivationOnDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity Ship-to Account - Account customer deactivation on delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Ship-to Account - Account customer deactivation on delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetShipToAccountRecord</name>
        <label>Get ship-to account record</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecalculateCustomerDeactivationForShipToAccountValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetShipToAccountRecord</targetReference>
        </connector>
        <object>OpportunityShipToAccount__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RecalculateCustomerDeactivationForShipToAccountValue</name>
        <label>Recalculate customer deactivation for ship-to account value</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <flowName>AccountCustomerDeactivation</flowName>
        <inputAssignments>
            <name>accountRecord</name>
            <value>
                <elementReference>GetShipToAccountRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shipToRecordBeingDeletedId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
