force-app/main/default/flows/OpportunityLeadConversionAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Lead_Lookup_On_Opportunity</name>
        <label>Set Lead Lookup On Opportunity</label>
        <locationX>720</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>$Record.ConvertedLeadId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>44</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fast_Track_Opportunity_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FastTrackCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContractDurationInMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields1</name>
        <label>Set Opportunity Fields</label>
        <locationX>308</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Opportunity_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContractDurationInMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OppPrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SDR_Details_On_Opportunity</name>
        <label>Set SDR Details On Opportunity</label>
        <locationX>453</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>$Record.SDRBookedMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SDRName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedLeadId__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Account_Segment</name>
        <label>Check Account Segment</label>
        <locationX>366</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_Opportunity_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mid_Market_or_SMB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BusinessReviewSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.MidMarket</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BusinessReviewSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Smb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fast_Track_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Mid Market or SMB</label>
        </rules>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BusinessReviewSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Enterprise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Owner_Is_SDR_User</name>
        <label>Lead Owner Is SDR User</label>
        <locationX>181</locationX>
        <locationY>1093</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Assignment_For_Lead_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_Assignment_For_Lead_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_Set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SDR_Details_On_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Created_Upon_Lead_Conversion</name>
        <label>Opportunity Created Upon Lead Conversion</label>
        <locationX>688</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Lookup_On_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FastTrackCloseDate</name>
        <dataType>Date</dataType>
        <expression> ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <formulas>
        <name>StandardCloseDate</name>
        <dataType>Date</dataType>
        <expression> ADDMONTHS(TODAY(),3)</expression>
    </formulas>
    <interviewLabel>Opportunity - Lead conversion automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Lead conversion automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fast_Track_Opportunity_Record_Type</name>
        <label>Get Fast Track Opportunity Record Type</label>
        <locationX>44</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FastTrackOppRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Assignment_For_Lead_Owner</name>
        <label>Get Permission Assignment For Lead Owner</label>
        <locationX>188</locationX>
        <locationY>922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Owner_Is_SDR_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedLeadId__r.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>188</locationX>
        <locationY>788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Assignment_For_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SDRUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Opportunity_Record_Type</name>
        <label>Get Standard Opportunity Record Type</label>
        <locationX>537</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Fields1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.StandardOpportunityRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunity_Created_Upon_Lead_Conversion</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
