force-app/main/default/flows/OpportunityUpdateAccountRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Set&apos;s fields of Account and adds it to collection</description>
        <name>Set_Account_fields</name>
        <label>Set Account fields</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AccountObjectVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_all_Ship_To_records_queried.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountObjectVariable.AccountStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountObjectVariable.AccountInactivationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_all_Ship_To_records_queried.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountObjectVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_all_Ship_To_records_queried</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set&apos;s the status of the account of the opportunity and add it to the account record collection</description>
        <name>Set_Account_status_and_add_it_to_the_collection</name>
        <label>Set Account status and add it to the collection</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AccountObjectVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountObjectVariable.AccountStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountObjectVariable.AccountInactivationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountObjectVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Ship_To_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_id_is_previously_not_present_in_the_collection</name>
        <label>Check if Account id is previously not present in the collection</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Set_Account_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Id_Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllAccountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_over_all_Ship_To_records_queried.Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_all_Ship_To_records_queried</targetReference>
            </connector>
            <label>Yes Id Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if opportunity status was set to &quot;Closed Won&quot;.</description>
        <name>Check_if_opportunity_is_updated_to_closed_won</name>
        <label>Check if opportunity is updated to closed won</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_status_and_add_it_to_the_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Update account records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update account records</label>
    <loops>
        <description>Loop over all the &quot;Ship To&quot; records queried before</description>
        <name>Iterate_over_all_Ship_To_records_queried</name>
        <label>Iterate over all &quot;Ship To&quot; records queried</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_all_Ship_To_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Account_id_is_previously_not_present_in_the_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Account_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get&apos;s all the records of Ship To object related to this opportunity.</description>
        <name>Get_all_Ship_To_records</name>
        <label>Get all &quot;Ship To&quot; records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_all_Ship_To_records_queried</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityShipToAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the status of all Account records to &quot;Customer&quot;.</description>
        <name>Update_all_Account_records</name>
        <label>Update all Account records</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputReference>AccountRecordsToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_opportunity_is_updated_to_closed_won</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to store the Account object</description>
        <name>AccountObjectVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRecordsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Variable to store all account id&apos;s to be updated</description>
        <name>AllAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
