force-app/main/default/flows/OpportunityCheckForRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Limit_Previous_Contract_Error</name>
        <label>Limit Previous Contract Error</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.LimitPreviousContractCancelReplaceRenewalError}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>PreventConcurrentRipAndCancelReplaceForRenewalError</name>
        <label>PreventConcurrentRipAndCancelReplaceForRenewalError</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.PreventConcurrentRipAndCancelReplaceForRenewal}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Extension_Is_Set</name>
        <label>Extension Is Set</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Previous_Contract_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_With_More_Than_1_Previous_Contracts</name>
        <label>Is Opportunity With More Than 1 Previous Contracts</label>
        <locationX>688</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreviousContracts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extension_Is_Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Opportunity</name>
        <label>Is Renewal Opportunity</label>
        <locationX>781</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Contract_With_Both_Cancel_Replace_Rip_Replace</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Contract_With_Both_Cancel_Replace_Rip_Replace_Exists_0</name>
        <label>Previous Contract With Both Cancel/Replace &amp; Rip/Replace Exists?</label>
        <locationX>369</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_With_More_Than_1_Previous_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Previous_Contract_With_Both_Cancel_Replace_Rip_Replace</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreventConcurrentRipAndCancelReplaceForRenewalError</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace_Exists</name>
        <label>Previous Contracts With Is Concerned by Cancel &amp; Replace Exists?</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Previous_Contract_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Only 1 Previous Contract is allowed when &apos;Cancel &amp; Replace&apos; is set to Yes for a Renewal Opportunity.</description>
    <environments>Default</environments>
    <interviewLabel>O {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityCheckForRenewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Previous_Contract_With_Both_Cancel_Replace_Rip_Replace</name>
        <label>Previous Contract With Both Cancel/Replace &amp; Rip/Replace</label>
        <locationX>369</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Contract_With_Both_Cancel_Replace_Rip_Replace_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConcernedByCancelReplace__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConcernedByRipReplace__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreviousContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace</name>
        <label>Previous Contracts With Is Concerned by Cancel &amp; Replace</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConcernedByCancelReplace__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreviousContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Renewal_Opportunity</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
