force-app/main/default/flows/OpportunityValidateNameFormat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Append_Value_Entered_After_Format_Value</name>
        <label>Append Value Entered After Format Value</label>
        <locationX>312</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewUpdatedName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Next_Step_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Steps_Entry_Date</name>
        <label>Set Next Steps - Entry Date</label>
        <locationX>691</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>$Record.NextStepsEntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Name</name>
        <label>Set Opportunity Name</label>
        <locationX>635</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatOfCurrentNameValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Next_Step_Populated</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Name_Format_Wrong_Message</name>
        <label>Name Format Wrong Message</label>
        <locationX>50</locationX>
        <locationY>668</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.WrongFormatForOppName}</errorMessage>
            <fieldSelection>Name</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_Next_Step_Changed</name>
        <label>Is Next Step Changed?</label>
        <locationX>502</locationX>
        <locationY>789</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Steps_Entry_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Next_Step_Populated</name>
        <label>Is Next Step Populated?</label>
        <locationX>849</locationX>
        <locationY>639</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Steps_Entry_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Begins_With_Specified_Format</name>
        <label>Name Begins With Specified Format?</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Name_Format_Wrong_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>TrimmedFormatOfCurrentNameValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>TrimmedFormatOfPreviousNameValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_In_Sync_With_Previous_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Begins_With_Specified_Format_0</name>
        <label>Name Begins With Specified Format?</label>
        <locationX>777</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>TrimmedFormatOfCurrentNameValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Next_Step_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_In_Sync_With_Previous_Value</name>
        <label>Name In Sync With Previous Value</label>
        <locationX>305</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>Is_Next_Step_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>TrimmedFormatOfPreviousNameValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Value_Entered_After_Format_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_Type</name>
        <label>Trigger Type</label>
        <locationX>633</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Name_Begins_With_Specified_Format</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Begins_With_Specified_Format_0</targetReference>
            </connector>
            <label>Is Insert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormatOfCurrentNameValue</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos;-&apos; + IF( (TEXT({!$Record.Type}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record.Type})) + IF(ISBLANK({!$Record.ContractStartDate__c} ), &apos; &apos;,TEXT(YEAR({!$Record.ContractStartDate__c}))) + &apos;-&apos; + IF( (TEXT({!$Record.OfferType__c}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record.OfferType__c}))</expression>
    </formulas>
    <formulas>
        <name>FormatOfPreviousNameValue</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Account.Name} + &apos;-&apos; + IF( (TEXT({!$Record__Prior.Type}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record__Prior.Type})) +  IF(ISBLANK({!$Record__Prior.ContractStartDate__c} ), &apos; &apos;,TEXT(YEAR({!$Record__Prior.ContractStartDate__c}))) + &apos;-&apos; + IF( (TEXT({!$Record__Prior.OfferType__c}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record__Prior.OfferType__c}))</expression>
    </formulas>
    <formulas>
        <name>NewUpdatedName</name>
        <dataType>String</dataType>
        <expression>{!FormatOfCurrentNameValue}+RIGHT({!$Record.Name},(LEN({!$Record.Name}) - LEN({!FormatOfPreviousNameValue})))</expression>
    </formulas>
    <formulas>
        <name>TrimmedFormatOfCurrentNameValue</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record.Account.Name} + &apos;-&apos; + IF( (TEXT({!$Record.Type}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record.Type})) + IF(ISBLANK({!$Record.ContractStartDate__c} ), &apos; &apos;,TEXT(YEAR({!$Record.ContractStartDate__c}))) + &apos;-&apos; + IF( (TEXT({!$Record.OfferType__c}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record.OfferType__c})))</expression>
    </formulas>
    <formulas>
        <name>TrimmedFormatOfPreviousNameValue</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record__Prior.Account.Name} + &apos;-&apos; + IF( (TEXT({!$Record__Prior.Type}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record__Prior.Type})) + IF(ISBLANK({!$Record__Prior.ContractStartDate__c} ), &apos; &apos;,TEXT(YEAR({!$Record__Prior.ContractStartDate__c}))) + &apos;-&apos; + IF( (TEXT({!$Record__Prior.OfferType__c}) = &apos;&apos;), &apos; &apos;,TEXT({!$Record__Prior.OfferType__c})))</expression>
    </formulas>
    <interviewLabel>Opportunity - Validate name format {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Validate name format</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>515</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Trigger_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
