force-app/main/default/flows/OpportunityNextStepHistoryTracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_Next_Step_Populated</name>
        <label>Is Next Step Populated?</label>
        <locationX>312</locationX>
        <locationY>505</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Note_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Next_Step_Updated</name>
        <label>Is Next Step Updated?</label>
        <locationX>864</locationX>
        <locationY>481</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Note_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_Context</name>
        <label>Trigger Context</label>
        <locationX>565</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Is_Next_Step_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Next_Step_Populated</targetReference>
            </connector>
            <label>Is Insert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Next step history tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Next step history tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Note_Record</name>
        <label>Create Content Note Record</label>
        <locationX>579</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Create_ContentDocumentLink</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>$Record.NextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Label.NextStepNoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ContentDocumentLink</name>
        <label>Create ContentDocumentLink</label>
        <locationX>579</locationX>
        <locationY>797</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Content_Note_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Trigger_Context</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
