force-app/main/default/flows/OpportunityBillToAccountCustomerDeactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>BillToAccountFieldUpdated</name>
        <label>Bill-to account field updated</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBillToAccountFieldUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPriorBillToAccountRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Bill-to account customer deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Bill-to account customer deactivation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNewBillToAccountRecord</name>
        <label>Get new bill-to account record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecalculateCustomerDeactivationForNewBillToAccountValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriorBillToAccountRecord</name>
        <label>Get prior bill-to account record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecalculateCustomerDeactivationForPreviousBillToAccountValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNewBillToAccountRecord</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RecalculateCustomerDeactivationForNewBillToAccountValue</name>
        <label>Recalculate customer deactivation for new bill-to account value</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>BillToAccountFieldUpdated</targetReference>
        </connector>
        <flowName>AccountCustomerDeactivation</flowName>
        <inputAssignments>
            <name>accountRecord</name>
            <value>
                <elementReference>GetNewBillToAccountRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RecalculateCustomerDeactivationForPreviousBillToAccountValue</name>
        <label>Recalculate customer deactivation for previous bill-to account value</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <flowName>AccountCustomerDeactivation</flowName>
        <inputAssignments>
            <name>accountRecord</name>
            <value>
                <elementReference>GetPriorBillToAccountRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
