force-app/main/default/flows/PreviousContractLimitForRenewalOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Limit_Previous_Contract_Error</name>
        <label>Limit Previous Contract Error</label>
        <locationX>688</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.LimitPreviousContractCancelReplaceRenewalError}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_Concerned_by_Cancel_Replace</name>
        <label>Is Concerned by Cancel &amp; Replace</label>
        <locationX>270</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConcernedByCancelReplace__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Contract_Already_Exist_For_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Concerned_by_Cancel_Replace_0</name>
        <label>Is Concerned by Cancel &amp; Replace</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConcernedByCancelReplace__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_than_1_Previous_Contract_Already_Exist_For_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Opportunity</name>
        <label>Is Renewal Opportunity</label>
        <locationX>1117</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_context</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Previous_Contract_Already_Exist_For_Opportunity</name>
        <label>More than 1 Previous Contract Already Exist For Opportunity</label>
        <locationX>930</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.PreviousContracts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Previous_Contract_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Contract_Already_Exist_For_Opportunity</name>
        <label>Previous Contract Already Exist For Opportunity</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.PreviousContracts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Previous_Contract_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace_Exists</name>
        <label>Previous Contracts With Is Concerned by Cancel &amp; Replace Exists?</label>
        <locationX>490</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Previous_Contract_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_context</name>
        <label>Trigger context</label>
        <locationX>688</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Is_Concerned_by_Cancel_Replace_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Concerned_by_Cancel_Replace</targetReference>
            </connector>
            <label>Is Insert</label>
        </rules>
    </decisions>
    <description>If the value for Is concerned by Cancel &amp; Replace for Opportunity is Yes, then we should allow to add only at max 1 Previous Contract.</description>
    <environments>Default</environments>
    <interviewLabel>PreviousContractLimitForRenewalOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PreviousContractLimitForRenewalOpportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace</name>
        <label>Previous Contracts With Is Concerned by Cancel &amp; Replace</label>
        <locationX>490</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Contracts_With_Is_Concerned_by_Cancel_Replace_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConcernedByCancelReplace__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreviousContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>991</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Renewal_Opportunity</targetReference>
        </connector>
        <filterFormula>!{!$Permission.ByPassFlow}</filterFormula>
        <object>PreviousContract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
